@import "./../../assets/common-styles/common-mixins";
.profileWrapper {
    @include flexWrapper(null, space-around, null, wrap);
    width: 100%;
    min-height: 100vh;
    border: 2px solid white;
}