@import "src/assets/common-styles/common-mixins";
@import "src/assets/common-styles/common-variables";

.deleteBlock {
  width: 15%;
  height: 80px;
  @include flexWrapper(null, flex-end, flex-start, wrap, null);

  .deleteButton {
    @include flexWrapper(null, center, center, wrap, null);
    font-size: 1.5rem;
    width: 30px;
    height: 30px;

    &:hover {
      background: $mainBackround;
      box-shadow: 0 0 10px 0 $dangerousColor_1 inset, 0 0 10px 4px $dangerousColor_2;
      border-radius: 50%;
      cursor: pointer;
      transition: 0.5s;
    }
  }
}