@import "./../../../assets/common-styles/common-mixins";
@import "./../../../assets/common-styles/common-variables";

.profNavContainer {
  @include flexWrapper(null, space-around, center, wrap, $boxShadowBlockColor);
  width: 80%;
  height: 65px;
  margin-top: 20px;
  background: $blockBackground;
  border-radius: 10px;

  .profNavItem {
    width: 33.3%;
    height: 65px;
    text-decoration: none;
    @include flexWrapper(null, center, center, wrap, null);

    .profNavTitle {
      color: $textColor;

      &:hover {
        color: $blockColor;
        transition: 0.5s;
      }
    }
  }

  .profNavActive {
    background: $blockColor;
    border-radius: 10px;
    transition: 1s;

    .profNavTitle {
      color: $activeBlockTextColor;
    }
  }
}