@import "./../../../assets/common-styles/common-mixins";
@import "./../../../assets/common-styles/common-variables";

.profNavContainer {
  @include flexWrapper(null, space-around, center, null, $boxShadowBlockColor);
  width: 80%;
  height: 65px;
  margin-top: 20px;
  background: $blockBackground;
  border-radius: 10px;
  @media screen and (max-width: 700px){
    @include flexWrapper(column, center, center, null, null);
    height: 135px;
    width: 100%;
  }

  .profNavItem {
    width: 33.3%;
    height: 65px;
    text-decoration: none;
    @include flexWrapper(row, center, center, null, null);
    @media screen and (max-width: 400px){
      width: 100%;
      height: 45px;
    }
    @media screen and (max-width: 700px){
      width: 100%;
    }
    .profNavTitle {
      color: $textColor;

      &:hover {
        color: $activeBlockTextColor;
        transition: 0.5s;
      }
    }
  }

  .profNavActive {
    background: $blockColor;
    border-radius: 10px;
    transition: 0.5s;

    .profNavTitle {
      color: $activeBlockTextColor;
    }
  }
}