@import "../../../../assets/common-styles/common-mixins";
@import "../../../../assets/common-styles/common-variables";

.modalContainer {
  width: 350px;
  min-height: 200px;
  @include flexWrapper(column, space-around, center, wrap, $boxShadowBlockColor);
  background: $blockBackground;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 175px);
  border-radius: 10px;
  font-size: 1.5rem;
  text-align: center;
  padding: 15px 0;
  z-index: 100;
  @media screen and(max-width: 360px) {
    width: 250px;
    min-height: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 125px);
    font-size: 1rem;
  }

  .text {
    color: $dangerousColor_2;
    text-transform: uppercase;
  }
  button {
    margin-top: 20px;
  }
}

.noModal {
  display: none;
}