$mainBackround: #182039;
$blockBackground: #1e2745;
$textColor: #8c91b6;
$blockColor: #50b5ff;
$activeBlockTextColor: #ffffff;;
$boxShadowBlockColor: 0 0 20px 0 #171924;
$dangerousColor_1: #701010;
$dangerousColor_2: #e01616;
$inputBorderColor: #252e4b;