@mixin flexWrapper ($direction, $justifyContent, $alignItems, $flexWrap, $boxShadow){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
  box-shadow: $boxShadow;
}

@mixin testBorder {
  border: 2px solid white;
}

@mixin profileNavContainer{
  width: 100%;
  min-height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

@mixin disableAutoFill ($bgColor){
  -webkit-box-shadow: 0 0 0 9999px $bgColor inset !important;
}