@mixin flexWrapper ($direction, $justifyContent, $alignItems, $flexWrap, $boxShadow){
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $flexWrap;
  box-shadow: $boxShadow;
}

@mixin testBorder {
  border: 2px solid white;
}

@mixin profileNavContainer{
  width: 100%;
  min-height: 500px;
  margin-top: 20px;
  border-radius: 10px;
}

@mixin backgroundColorAutoFill($backgroundColor) {
  -webkit-box-shadow: 0 0 0 9999px $backgroundColor inset;
}

@mixin hoverTextColorAutoFill($color) {
  &:hover, &:focus {
    -webkit-text-fill-color: $color !important;
  }
}

@mixin textColorAutoFill($color) {
  -webkit-text-fill-color: $color !important;
}