.userWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: rgba(6, 6, 6, 0.53);
    margin: 20px;
    border-radius: 10px;
    color: white;
    width: 480px;
    height: 320px;
}

.userWrapper img {
    height: 100px;
    width: 100px;
}
.userWrapper label {
    color: green;
    font-weight: bold;
}

.userBlock_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    margin: 10px;
    justify-content: stretch;
    padding-left: 10px;
}
.userBlock_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    margin: 10px;
    justify-content: stretch;
    padding-left: 10px;
}

.status{
    padding-top: 50px;
}
.cityName{
    padding-top: 50px;
}
.button{
    padding-top: 10px;
}