@import "./../../../../assets/common-styles/common-mixins";
@import "./../../../../assets/common-styles/common-variables";

@mixin infoBlock {
  width: 100%;
  padding: 5px;
  @include flexWrapper(row, flex-start, flex-start, wrap, null);
  div {
    &:nth-child(odd) {
      width: 30%;
      text-transform: uppercase;
    }

    &:nth-child(even) {
      width: 70%;
      @media screen and (max-width: 700px) {
        padding-left: 20px;
      }
    }
  }
}

.aboutContainer {
  @include profileNavContainer;
  @include flexWrapper(row, center, center, wrap, $boxShadowBlockColor);
  position: relative;

  .aboutBlock {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    @include flexWrapper(row, center, center, wrap, $boxShadowBlockColor);
    @media screen and (max-width: 700px) {
      width: 100%;
      @include flexWrapper(null, null, null, wrap, null);
      min-height: 500px;
      font-size: 0.8rem;
    }

    h2 {
      width: 100%;
      padding-bottom: 10px;
      border-bottom: 1px solid $textColor;
    }

    .basicInfoBlock {
      width: 100%;
      padding: 10px;

      .nameBlock {
        @include infoBlock;
      }

      .aboutMeBlock {
        @include infoBlock;
      }

      .lookingJobBlock {
        @include infoBlock;
      }

      .lookingJobEditModeBlock {
        width: 100%;
      }

      .jobDescBlock {
        @include infoBlock;
      }
    }

    .linksInfoBlock {
      width: 100%;

      .contactBlock {
        padding: 10px;
        @include infoBlock;
      }
    }
  }
}

