.postItem {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    color: white;
    background: dimgray;
    border-radius: 10px;
    margin: 10px 0;
}

.avatar {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.likes {
    width: 20px;
    height: 20px;
}

.likesWrapper {
    margin: 10px;
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

.message {
    display: flex;
    width: 100%;
    align-items: center;
    margin-top: 10px;
}

.date {
    margin-top: 60px;
}