@import "./../../../../assets/common-styles/common-mixins";
@import "./../../../../assets/common-styles/common-variables";

.postContainer {
  width: 80%;
  background: $blockBackground;
  border-radius: 10px;
  margin: 10px 0;
  @include flexWrapper(column, flex-start, center, wrap, $boxShadowBlockColor);
  @media screen and (max-width: 600px) {
    width: 100%;
  }

  .titleBlock {
    width: 100%;
    @include flexWrapper(row, flex-start, center, wrap, null);
    height: 100px;
    padding: 15px;

    .avatarBlock {
      width: 15%;
      height: 80px;
      @media screen and (max-width: 600px) {
        width: 25%;
      }

      .avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }
    }


    .userNameDateBlock {
      width: 25%;
      height: 80px;
      @include flexWrapper(column, flex-start, null, wrap, null);

      .userName {
        font-weight: 700;
        font-size: 1rem;
      }

      .date {
      }
    }

    .postMessage {
      @include flexWrapper(null, flex-start, null, wrap, null);
      width: 45%;
      height: 80px;
      font-size: 1rem;
      @media screen and (max-width: 600px) {
        width: 35%;
      }
    }

    .postDeleteBlock {
      width: 15%;
      height: 80px;
      @include flexWrapper(null, flex-end, flex-start, wrap, null);

      .deleteButton {
        @include flexWrapper(null, center, center, wrap, null);
        font-size: 1.5rem;
        width: 30px;
        height: 30px;

        &:hover {
          background: $mainBackround;
          box-shadow: $boxShadowBlockColor;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
  }

  .imageBlock {
    width: 95%;
    height: 400px;
    background-size: cover;
    background-position: center;
  }

  .likesBlock {
    width: 100%;
    @include flexWrapper(row, null, null, wrap, null);

    .likeDislikeContainer {
      margin: 10px;
      @include flexWrapper(row, null, null, wrap, null);

      .like, .dislike {
        font-size: 1.5rem;
        margin-left: 10px;

        &:hover {
          color: $blockColor;
          cursor: pointer;
          transition: 0.5s;
        }
      }
    }
  }
}

