@import "./src/assets/common-styles/common-mixins";

.mainLogo {
  width: 100%;
  height: 100vh;
  @include flexWrapper(null, center, center, null, null);
  font-size: 7rem;
  .mainLogoText {
    font-size: 5rem;
  }
}
