@import "./../../assets/common-styles/common-mixins";
@import "./../../assets/common-styles/common-variables";

.header {
  display: flex;
  width: 100%;
  height: 100px;
  margin: 0 10px;
  background: $blockBackground;
  position: fixed;

  .headerMainBlock {
    width: 100%;
    @include flexWrapper(null, space-between, center, null);

    .headerNavBlock {
      @include flexWrapper(null, center, center, null);

      .mainLogo {
        @include flexWrapper(null, center, center, null);
        margin-left: 0.1rem;
        font-size: 5rem;
        background: none;

        .mainLogoText {
          font-size: 2rem;
        }
      }
    }
  }
}








