@import "./../../assets/common-styles/common-mixins";
@import "./../../assets/common-styles/common-variables";

.header {
  @include flexWrapper(null, space-between, center, wrap);
  width: 100%;
  min-height: 100px;
  background: $blockBackground;
  position: fixed;
  z-index: 2;
  border: 2px solid white;

  .headerMainBlock {
    width: 100%;
    @include flexWrapper(null, space-between, center, wrap);

    .headerNavBlock {
      @include flexWrapper(null, center, center, null);

      .mainLogo {
        @include flexWrapper(null, center, center, null);
        font-size: 5rem;
        background: none;
        @include testBorder;

        .mainLogoText {
          font-size: 2rem;
        }
      }
    }
  }
}








