@import "./../../assets/common-styles/common-mixins";
@import "./../../assets/common-styles/common-variables";

.header {
  @include flexWrapper(null, space-between, center, wrap, $boxShadowBlockColor);
  width: 100%;
  min-height: 100px;
  background: $blockBackground;
  position: fixed;
  z-index: 10;

  .headerMainBlock {
    width: 100%;
    @include flexWrapper(null, space-between, center, wrap, null);

    .headerNavBlock {
      @include flexWrapper(null, center, center, null, null);

      .mainLogo {
        @include flexWrapper(null, center, center, null, null);
        font-size: 5rem;
        background: none;

        .mainLogoText {
          font-size: 2rem;
        }
      }
    }
  }
}








