@import "./../../../assets/common-styles/common-variables";

@mixin buttonView($boxShadow_1, $boxShadow_2, $mainBackground, $mainColor) {
  text-decoration: none;
  display: inline-block;
  background: $mainBackground;
  border: 0;
  padding: 10px 20px;
  margin: 10px 20px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: $mainColor;
  text-transform: uppercase;
  transition: .15s ease-in-out;
  box-shadow: $boxShadow_1, $boxShadow_2;
  outline: none;

  @media screen and (max-width: 425px) {
    padding: 7px 15px;
    margin: 5px 10px;

  }
  @media screen and (max-width: 265px) {
    padding: 5px 5px;
    margin: 5px 5px;

  }

  &:hover {
    box-shadow: $boxShadow_1, $boxShadow_2;
    color: $mainColor;
    cursor: pointer;
  }

  &:active {
    border: none;
  }

  &:disabled {
    box-shadow: 0 0 10px 0 $blockColor inset, 0 0 10px 4px $dangerousColor_2;
    opacity: 0.5;
    cursor: default;

    &:hover {
      color: $activeBlockTextColor;
    }
  }
}

.slidingButton {
  @include buttonView(0 0 40px 40px $blockColor inset, 0 0 0 0 #3756f1, $blockBackground, $activeBlockTextColor);

  &:hover {
    @include buttonView(0 0 10px 0 $blockColor inset, 0 0 10px 4px #3756f1, $blockBackground, $blockColor)
  }
}

.anotherButtonView {
  @include buttonView(0 0 40px 40px $dangerousColor_1 inset, 0 0 0 0 $dangerousColor_2, $dangerousColor_1, $activeBlockTextColor);

  &:hover {
    @include buttonView(0 0 10px 0 $dangerousColor_1 inset, 0 0 10px 4px $dangerousColor_2, $dangerousColor_1, $activeBlockTextColor);
    opacity: 0.8;
  }
}
