.commonContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input {
    display: block;
}

.checkbox {
    display: flex;
    width: 100%;
}

.registrationError, .error {
    color: red;
}

