@import "assets/common-styles/common-mixins";

.appWrapper {
  @include flexWrapper(column, null, null, wrap);
  position: relative;

  .appWrapperContent {
    @include flexWrapper(column, flex-start, center, wrap);
    width: 80%;
    height: 100%;
    margin: 150px auto 0;
  }
}

@media only screen and (max-width: 969px){
  .appWrapperContent {
    width: 670px;
  }
}
