@import "./../../../assets/common-styles/common-mixins";
@import "./../../../assets/common-styles/common-variables";

.content {
  min-width: 80%;
  min-height: 337px;
  border-radius: 10px;
  background-position: center;
  background-size: cover;
  @include flexWrapper(column, center, center, null, $boxShadowBlockColor);
  @media screen and (max-width: 700px) {
    min-width: 100%;
  }

  .imageContainer {
    width: 100%;
    position: relative;
    @include flexWrapper(column, center, center, null, null);
    z-index: 1;

    img {
      max-width: 128px;
      max-height: 128px;
      border-radius: 50%;
      display: block;
      z-index: 2;
    }
    &:hover .fileContainer{
      opacity: 0.8;
      transition: 0.5s;
      z-index: 3;
    }

    .fileContainer {
      position: absolute;
      @include flexWrapper(null, center, center, null, null);
      width: 128px;
      height: 128px;
      border-radius: 50%;
      background: $textColor;
    }
  }

  .userNameTitle {
    font-size: 2rem;
  }
}
