.content {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.content img {
    width: 100%;
    height: auto;
}

.imageContainer {
    width: 100%;
}

.fileContainer {
    position: absolute;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40px;
    top: 50%;
    background: rgba(0, 0, 0, .3);
    left: calc(50% - 100px) ;
    color:#fff;
    transition: opacity .3s;
}

.imageContainer:hover .fileContainer {
    opacity: 1;
    transition: opacity .3s;
}